@import 'tailwindcss';

.text-stroke{
    -webkit-text-stroke: 1px white;
    
}

@keyframes fadeInUp {
    from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}